{% extends "personal/index.html" %}

{% block content %}
    <h3 style="text-decoration: underline;">About Me</h3>
    <p style="font-size:18px; font-family:'Arial', 'sans-serif'">I am a senior currently seeking an internship in Computer Science or Software Engineering.
    My goal is a career in Computer Science after graduation in May of 2019. I am interested in front-end
    software development and computer graphics, but I am always looking for new areas of Computer Science to learn about.</p>
{% endblock %}
