<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'personal/css/bootstrap.min.css'%}">
    <script src="{% static 'personal/js/bootstrap.min.js' %}"></script>
    <title>Warren Smith</title>
</head>
<body style="background: #FCFCFC;">
<div class="jumbotron" style="background: #3AAFA9; font-family: 'Georgia', 'serif'; font-weight: bold; padding-bottom: 10px; margin-bottom: 5px">
    <div class="img-fluid">
        <a href="/"><img class="rounded-circle" src="{% static 'personal/img/profile.jpg' %}" width="200px" height="200px" alt="Profile"/></a>
    </div>
    <h1 style="color:#feffff;">Warren Smith</h1>
    <p style="color:#17252a;">Computer Science Undergraduate at The University of Texas at Arlington</p>
</div>
<div class="container-fluid" style="font-family:'Arial', 'serif'; font-weight: bold; font-size: 1.5em;">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="/about/" style="font-family: 'Arial', 'serif'; font-weight: bold;
                font-size: 1em; color:#3AAFA9;">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/resume/" style="font-family: 'Arial', 'serif'; font-weight: bold;
                font-size: 1em; color:#3AAFA9;">Resume</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/projects/" style="font-family: 'Arial', 'serif'; font-weight: bold;
                font-size: 1em; color:#3AAFA9;">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact/" style="font-family: 'Arial', 'serif'; font-weight: bold;
                font-size: 1em; color:#3AAFA9;">Contact</a>
        </li>
    </ul>
</div>
<div class="container-fluid">
    <br><br>
    {% block content %}
    {% endblock %}
</div>
</body>
<footer>
    <div class="container-fluid">
        <div class="row" style="margin-top:50px; margin-bottom: 50px;">
            <div class="col-sm-1" style="margin:0px; padding-right:0px; width: 25px;">
                <a href="/contact/"><img src="{% static 'personal/img/envelope.png' %}"></a>
            </div>
            <div class="col-sm-1">
                <a href="https://github.com/Dubyahs" target="_blank"><img src="{% static 'personal/img/github.png' %}"></a>
            </div>
            <div class="col-sm-1">
                <a href="https://twitter.com/Big_Dubyah" target="_blank"><img src="{% static 'personal/img/twitter.png' %}"></a>
            </div>
            <div class="col-sm-9">
                <a href="https://www.facebook.com/warren.smith.986" target="_blank"><img src="{% static 'personal/img/facebook.png' %}"></a>
            </div>
        </div>
    </div>
</footer>
</html>