{% extends 'personal/index.html' %}
{% load staticfiles %}
{% block content %}
    <h3 style="text-decoration: underline;">Resume</h3>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Languages</h5>
                <h6 class="card-title" style="text-decoration: underline;">Comfortable With</h6>
                <p class="card-text">
                    <lu>
                        <li>Java</li>
                        <li>C/C++</li>
                        <li>Python</li>
                        <li>SQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </lu>
                <br>
                    <h6 class="card-title" style="text-decoration: underline;">Experience With</h6>
                    <lu>
                        <li>PHP</li>
                        <li>Javasript</li>
                        <li>ARM Assembly</li>
                    </lu>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tools</h5>
                <p class="card-text">
                    <lu>
                        <li>Apache Hadoop</li>
                        <li>Django</li>
                        <li>MySQL</li>
                        <li>Git</li>
                        <li>Android Development</li>
                        <li>Linux/Windows OS</li>
                    </lu>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Highlighted Courses</h5>
                <p class="card-text">
                    <h6 class="card-title" style="text-decoration: underline;">Current Courses</h6>
                    <lu>
                        <li>Introduction to Computer Vision</li>
                        <li>Computer Network Organization</li>
                        <li>Computational Methods</li>
                        <li>Information Security</li>
                    </lu>
                <br>
                    <h6 class="card-title" style="text-decoration: underline;">Completed Courses</h6>
                    <lu>
                        <li>Database Implementation and Theory</li>
                        <li>Introduction to Machine Learning</li>
                        <li>Computer Graphics</li>
                        <li>Operating Systems</li>
                        <li>Theoretical Concepts of Computer Science</li>
                    </lu>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
